In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\ather\appdata\local\programs\python\python312\lib\site-packages (8.4.0)

[notice] A new release of pip is available: 24.0 -> 24.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import mysql.connector as connector

In [6]:
try:
    connection=connector.connect(
        user="db_project_user",
        password="Obviously47!",
        host="127.0.0.1",
        auth_plugin='mysql_native_password')

except connector.Error as er:
    print("Error code:", er.errno)
    print("Error message:", er.msg)

In [8]:
cursor = connection.cursor(buffered=True)

In [9]:
cursor.execute("use littlelemondm")

In [23]:
try:
    show_tables_query = "select * from menus" 
    cursor.execute(show_tables_query)
except connector.Error as er:
    print("Error code:", er.errno)
    print("Error message:", er.msg)

In [24]:
results = cursor.fetchall()
for res in results:
    print(res)

(1, 'Italian', 'Vegan', 'Menu 1')
(2, 'Chinese', 'Vegetarian', 'Menu 2')
(3, 'Mexican', 'Vegetarian', 'Menu 3')
(4, 'Chinese', 'Vegetarian', 'Menu 4')
(5, 'Indian', 'Vegan', 'Menu 5')
(6, 'Indian', 'Vegetarian', 'Menu 6')
(7, 'Indian', 'Vegetarian', 'Menu 7')
(8, 'Mexican', 'Non-Vegan', 'Menu 8')
(9, 'Italian', 'Vegan', 'Menu 9')
(10, 'Indian', 'Vegan', 'Menu 10')

In [28]:
join_query = """
SELECT customers.CustomerName, Customers.PhoneNumber, orders.OrderCost
FROM customers INNER JOIN orders
ON customers.CustomerID = orders.CustomerID WHERE OrderCost >= 60;"""
try:
    cursor.execute(join_query)
except connector.Error as er:
    print("Error code:", er.errno)
    print("Error message:", er.msg)

In [29]:
resjoin = cursor.fetchall()
for res in resjoin:
    print(res)

('Customer 1', 1248519589, Decimal('69.03'))
('Customer 10', 5740309931, Decimal('62.13'))
('Customer 4', 1970460516, Decimal('93.31'))
('Customer 3', 2038388680, Decimal('85.98'))
('Customer 3', 2038388680, Decimal('79.18'))